In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# load dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [3]:
# how many products cost more than 10.00$?
# first filter the item_price column to be float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

# second, get the products with a price greater than $10
expensive_products = chipo[chipo['item_price'] > 10]
len(expensive_products)

1130

In [4]:
# what is the price of each item?
# first, divide the item price by the quantity to get the price of a single item
chipo['price_per_item'] = chipo['item_price'] / chipo['quantity']

# second, group the data by 'item_name' and calc the average price per item
average_prices = chipo.groupby('item_name')['price_per_item'].mean().reset_index()
average_prices

                                item_name  price_per_item
0                       6 Pack Soft Drink        6.490000
1                           Barbacoa Bowl       10.187273
2                        Barbacoa Burrito        9.832418
3                   Barbacoa Crispy Tacos       10.087273
4                     Barbacoa Salad Bowl       10.640000
5                     Barbacoa Soft Tacos       10.018400
6                           Bottled Water        1.431667
7                                    Bowl        7.400000
8                                 Burrito        7.400000
9                             Canned Soda        1.090000
10                      Canned Soft Drink        1.250000
11                          Carnitas Bowl       10.315588
12                       Carnitas Burrito        9.975932
13                  Carnitas Crispy Tacos        9.852857
14                         Carnitas Salad        8.990000
15                    Carnitas Salad Bowl       11.056667
16                    Carnitas Soft Tacos        9.398500
17                           Chicken Bowl        9.657727
18                        Chicken Burrito        9.475949
19                   Chicken Crispy Tacos        9.492340
20                          Chicken Salad        9.010000
21                     Chicken Salad Bowl        9.909091
22                     Chicken Soft Tacos        9.240261
23                                  Chips        2.149242
24           Chips and Fresh Tomato Salsa        2.748727
25                    Chips and Guacamole        4.345616
26      Chips and Mild Fresh Tomato Salsa        3.000000
27     Chips and Roasted Chili Corn Salsa        2.950000
28     Chips and Roasted Chili-Corn Salsa        2.390000
29  Chips and Tomatillo Green Chili Salsa        2.950000
30    Chips and Tomatillo Red Chili Salsa        2.950000
31  Chips and Tomatillo-Green Chili Salsa        2.390000
32    Chips and Tomatillo-Red Chili Salsa        2.390000
33                           Crispy Tacos        7.400000
34                                   Izze        3.390000
35                       Nantucket Nectar        3.390000
36                                  Salad        7.400000
37                          Side of Chips        1.690000
38                             Steak Bowl       10.232559
39                          Steak Burrito        9.993424
40                     Steak Crispy Tacos        9.952857
41                            Steak Salad        8.915000
42                       Steak Salad Bowl       11.027931
43                       Steak Soft Tacos        9.578182
44                            Veggie Bowl       10.011882
45                         Veggie Burrito        9.602842
46                    Veggie Crispy Tacos        8.490000
47                           Veggie Salad        8.490000
48                      Veggie Salad Bowl       10.138889
49                      Veggie Soft Tacos        9.352857

In [11]:
# sort by the name of the item
chipo = chipo.sort_values('item_name')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49,6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49,6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1051,432,1,6 Pack Soft Drink,[Coke],6.49,6.49

In [12]:
chipo = chipo.sort_index()

# what was the quantity of the most expensive item ordered?
# first, clac the total quantity of each item
item_quantity = chipo.groupby('item_name')['quantity'].sum().reset_index()

# second, find the item with the highest price
most_expensive_item = chipo[chipo['item_price'] == chipo['item_price'].max()]['item_name'].iloc[0]

# third, find the total quantity of the most expensive item
most_expensive_item_quantity = item_quantity[item_quantity['item_name'] == most_expensive_item]['quantity'].iloc[0]
most_expensive_item_quantity

130

In [13]:
# how many times was a Veggie Salad Bowl ordered?
Salad_quantity = item_quantity[item_quantity['item_name'] == 'Veggie Salad Bowl']['quantity'].iloc[0]
Salad_quantity

18

In [14]:
# how many times did someone order more than one canned soda?
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20