# Pokemon

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Step 2. Create a data dictionary that looks like the DataFrame below

In [10]:
raw_data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type': ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [13]:
pokemon = pd.DataFrame(raw_data)
pokemon

    evolution  hp        name   type
0     Ivysaur  45   Bulbasaur  grass
1  Charmeleon  39  Charmander   fire
2   Wartortle  44    Squirtle  water
3     Metapod  45    Caterpie    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
cols = ['name', 'type', 'hp', 'evolution']
pokemon = pokemon[cols]
pokemon

         name   type  hp   evolution
0   Bulbasaur  grass  45     Ivysaur
1  Charmander   fire  39  Charmeleon
2    Squirtle  water  44   Wartortle
3    Caterpie    bug  45     Metapod

### Step 5. Add another column called place, and insert what you have in mind.

In [26]:
place = ['usa', 'japan', 'egypt', 'ksa']
pokemon['place'] = place
pokemon

         name   type  hp   evolution  place
0   Bulbasaur  grass  45     Ivysaur    usa
1  Charmander   fire  39  Charmeleon  japan
2    Squirtle  water  44   Wartortle  egypt
3    Caterpie    bug  45     Metapod    ksa

### Step 6. Present the type of each column

In [27]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   place      4 non-null      object
dtypes: int64(1), object(4)
memory usage: 292.0+ bytes

### BONUS: Create your own question and answer it.

In [28]:
# drop the place column
pokemon = pokemon.drop(['place'], axis=1)
pokemon

         name   type  hp   evolution
0   Bulbasaur  grass  45     Ivysaur
1  Charmander   fire  39  Charmeleon
2    Squirtle  water  44   Wartortle
3    Caterpie    bug  45     Metapod