In [1]:
# import the necessary libraries
import pandas as pd

In [2]:
# load dataset
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [3]:
# deleting the columns 'Unnamed: 0' and 'Id'
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

In [4]:
# Seeing the first 10 entries
baby_names.head(10)

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

In [6]:
# checking if there are more male or female names in the dataset
gender_counts = baby_names['Gender'].value_counts()
common_gender = gender_counts.idxmax()
common_gender

'F'

In [7]:
# grouping the dataset by name and assign to names
names = baby_names.groupby('Name')

In [8]:
# counting the number of different names in the dataset
num_different_names = len(names)
num_different_names

17632

In [9]:
# finding the name with the most occurrences
name_with_most_occurrences = names['Count'].sum().idxmax()
name_with_most_occurrences

'Jacob'

In [10]:
# counting the number of different names with the least occurrences
names_with_least_occurrences = names['Count'].sum().value_counts().min()
names_with_least_occurrences

1

In [11]:
# finding the median name occurrences
# first, calculate the total occurrences for each name
name_occurrences = names['Count'].sum()
# second, find the median occurrences
median_occurrences = name_occurrences.median()
# third, get the name(s) with median occurrences
median_names = name_occurrences[name_occurrences == median_occurrences].index.tolist()
median_names

['Aishani',
 'Alara',
 'Alysse',
 'Ameir',
 'Anely',
 'Antonina',
 'Aveline',
 'Aziah',
 'Baily',
 'Caleah',
 'Carlota',
 'Cristine',
 'Dahlila',
 'Darvin',
 'Deante',
 'Deserae',
 'Devean',
 'Elizah',
 'Emmaly',
 'Emmanuela',
 'Envy',
 'Esli',
 'Fay',
 'Gurshaan',
 'Hareem',
 'Iven',
 'Jaice',
 'Jaiyana',
 'Jamiracle',
 'Jelissa',
 'Jeovany',
 'Jkwon',
 'Kaedence',
 'Kaelee',
 'Kailana',
 'Kaio',
 'Kyndle',
 'Kynsley',
 'Leylanie',
 'Maisha',
 'Malillany',
 'Mariann',
 'Marquell',
 'Maurilio',
 'Mckynzie',
 'Mehdi',
 'Nabeel',
 'Nalleli',
 'Nassir',
 'Nazier',
 'Nishant',
 'Rebecka',
 'Reghan',
 'Ridwan',
 'Riot',
 'Rubin',
 'Ryatt',
 'Sameera',
 'Sanjuanita',
 'Shalyn',
 'Skylie',
 'Sriram',
 'Trinton',
 'Vita',
 'Yoni',
 'Zuleima']

In [12]:
# calculating the standard deviation of names
std_names = names['Count'].sum().std()
std_names

11006.06946789057

In [13]:
# getting a summary with the mean, min, max, std, and quartiles
summary = names['Count'].sum().describe()
summary

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64