In [1]:
# import the necessary libraries
import pandas as pd

In [2]:
# create dataframe
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
            'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

regiment = pd.DataFrame(raw_data)

In [3]:
# what is the mean preTestScore from the regiment Nighthawks?
mean_preTestScore_for_Nighthawks = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()
mean_preTestScore_for_Nighthawks

15.25

In [4]:
# present general statistics by company
companies = regiment.groupby('company')
companies.describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [5]:
# what is the mean of each company's preTestScore?
companies['preTestScore'].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [6]:
# present the mean preTestScores grouped by regiment and company
regiment_company = regiment.groupby(['regiment', 'company'])
regiment_company['preTestScore'].mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [7]:
# present the mean preTestScores grouped by regiment and company without the heirarchical indexing
mean_scores_grouped = regiment.groupby(['regiment', 'company'], as_index=False)['preTestScore'].mean()
mean_scores_grouped

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

In [8]:
# what is the number of observations in each regiment and company
print("the number of observations in each group:")
for rc, data in regiment_company:
    print(rc)
    print("the number of observations:", len(data))

the number of observations in each group:
('Dragoons', '1st')
the number of observations: 2
('Dragoons', '2nd')
the number of observations: 2
('Nighthawks', '1st')
the number of observations: 2
('Nighthawks', '2nd')
the number of observations: 2
('Scouts', '1st')
the number of observations: 2
('Scouts', '2nd')
the number of observations: 2

In [9]:
# iterate over groups and print the name and the whole data from the regiment
for rc, data in regiment_company:
    print("name:", rc)
    print(data)

name: ('Dragoons', '1st')
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25
name: ('Dragoons', '2nd')
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
name: ('Nighthawks', '1st')
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
name: ('Nighthawks', '2nd')
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62
name: ('Scouts', '1st')
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70
name: ('Scouts', '2nd')
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70